.app .rally-grid .x-grid-data-row:nth-child(-n+12) .x-grid-cell:last-child {
  color: #808080;
}
.app .rally-grid .x-grid-data-row:nth-child(n+13) .x-grid-cell:last-child .x-grid-cell-inner {
  font-family: NotoSansBold,Helvetica,Arial;
}
.app .rally-grid .x-grid-data-row:nth-child(-n+4) .x-grid-cell:nth-child(7) {
  color: #808080;
}
.app .rally-grid .x-grid-data-row:nth-child(n+5) .x-grid-cell:nth-child(7) .x-grid-cell-inner {
  font-family: NotoSansBold,Helvetica,Arial;
}




